* {
  font-family: Georgia;
  box-sizing: border-box;
}
section {
  background-color: RGB(197, 85, 160);
  text-align: center;
  width: 50%;
  height: 180px;
}
header,
footer {
  text-align: center;
  background-color: rgb(246, 226, 222);
  height: 100px;
  padding: 10px;
  width: 100%;
}
main,
aside {
  background-color: rgb(197, 85, 160);
  color: white;
  width: 50%;
  height: 400px;
}
section a {
  background-image: url("cukierki1.png");
  padding-right: 70px;
  padding-bottom: 120px;
  font-size: 150%;
  text-decoration: none;
}
table,
td {
  border: 2px solid blue;
  margin: 20px;
  padding: 10px;
}
h2 {
  letter-spacing: 10px;
  font-size: 200%;
}
body {
  display: flex;
  flex-wrap: wrap;
}
